body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'SfProText';
  font-style: auto;
  font-weight: 500;
  src: url('./fonts/SFProText-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Inter';
  font-style: auto;
  font-weight: 600;
  src: url('./fonts/Inter-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: auto;
  font-weight: 400;
  src: url('./fonts/Inter-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'SFProDisplay';
  font-style: auto;
  font-weight: 600;
  src: url('./fonts/SF-Pro-Display-Semibold.otf') format("opentype");
}